node_modules
k3s_workshop.pub
k3s_workshop
hosts.ini
workshop.config
mnist_data
__pycache__
weights.pth
weights_*.pth
de2ci4a.txt
Dockerfile.tmp
tune.kubeconfig.yml
debug.py
pre_tune_weights.pth
kaniko_config
debug.tmp.yaml
explore/cert-manager.yaml
tls.cert.pem
tls.key.pem
.env